.App {
  padding: 2em;
  height: 100vh;
}

.boxed {
  background-color: #242526;
  padding: 0.2em;
  border-radius: 5px;
  width: auto;
  color: white;
  font-family: monospace;
}

.monaco-editor {
  border-radius: 10px !important;
}